<br><br>
<section id="heading">
  <div class="container hdAndText" style="text-align: left;">
    <h1 class="h1text">ABOUT US</h1>
    <div class="yellow_line"></div>
  </div>
</section>

<section class="new-section">
  <div class="container-fluid cf2">

    <div class="row">

      <div data-aos="fade-up" data-aos-duration="1000">
        <div class="container-fluid cf2">
          <div class="row">
            <div class="col-xl-6 col-12"></div>
            <div class="col-xl-6 col-12 ">
              <div>
                <div style="
                                position: relative;  height: 3px;
                                background-color: #2da1b1;
                                width: 80%;
                                margin: 0 auto;
                                margin-top: 5px;
                                border-radius: 20px;
                                margin-bottom: 20px; ">
                  <hr />
                </div>

                <div>
                  <h3 class="text-center" style="position: relative;">
                    Association for Computing Machinery
                  </h3>
                </div>

                <br /><br />
              </div>
            </div>
          </div>
        </div>

        <section class="new-section">
          <div class="container-fluid cf2">
            <div class="row">
              <div class="col-lg-4 col-12 first ">
                <div class="card ">
                  <div class="second">
                    <img class="card-img-top" src="../../../assets/images/aboutus/acmlogo.jpeg" alt="Card image" />
                  </div>

                  <div class="card-body">
                    <a href="https://india.acm.org/">
                      <h4 class=" text-center">ACM</h4>
                    </a>
                    <p class="card-text text-center d-none d-block d-lg-none d-sm-block">
                      Founded by Richard Hamming in 1947, ACM brings together
                      computing educators, researchers, and professionals to
                      inspire dialogue, share resources, and address the field's
                      challenges.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-8 col-12 d-none d-lg-block">
                <p class="card-text text-left ">
                  Founded by Richard Hamming in 1947, ACM brings together
                  computing educators, researchers, and professionals to inspire
                  dialogue, share resources, and address the field's challenges.
                </p>
                <p class="card-text text-left ">
                  As the world’s largest computing society, ACM strengthens the
                  profession's collective voice through strong leadership,
                  promotion of the highest standards, and recognition of technical
                  excellence. ACM supports the professional growth of its members
                  by providing opportunities for life‐long learning, career
                  development, and professional networking.
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section id="acmp">
        <div data-aos="fade-up" data-aos-duration="1000">
          <div class="container-fluid cf2">
            <div class="row">

              <div class="col-xl-6 col-12 ">
                <div>
                  <div style="
                              position: relative;  height: 3px;
                              background-color: #2da1b1;
                              width: 80%;
                              margin: 0 auto;
                              margin-top: 5px;
                              border-radius: 20px;
                              margin-bottom: 20px; ">
                    <hr />
                  </div>

                  <div>
                    <h3 class="text-center" style="position: relative;">
                      PICT Acm Student's Chapter
                    </h3>
                  </div>

                  <br /><br />
                </div>
              </div>
              <div class="col-xl-6 col-12"></div>
            </div>
          </div>

          <section class="new-section">
            <div class="container-fluid cf2">
              <div class="row">
                <div class="col-lg-8 col-12 d-none d-lg-block">
                  <p class="card-text text-left ">
                    ACM PICT is a student chapter organization subsidiary of
                    Association for Computing Machinery a worldwide learning
                    society for computing. The chapter was founded in March 1,
                    2011. It was started with a vision to carry on ACM
                    international's intentions on a grass root level in PICT.
                  </p>
                  <p class="card-text text-left ">
                    Our main focus has been on holding numerous events which are
                    to spread computing and technical knowledge in the
                    undergraduate level.We always have the vision to give the best
                    of our capabilities to help an individual to grow in all
                    aspects and also to make ACM student chapter an ideal platform
                    for students.
                  </p>
                </div>

                <div class="col-lg-4 col-12 first ">
                  <div class="card ">
                    <div class="second">
                      <img class="card-img-top" src="../../../assets/images/aboutus/pasclogo.png" alt="Card image" />
                    </div>

                    <div class="card-body">
                      <a href="https://pict.acm.org/">
                        <h4 class=" text-center">PASC</h4>
                      </a>
                      <p class="card-text text-center d-none d-block d-lg-none d-sm-block">
                        ACM PICT is a student chapter organization subsidiary of
                        Association for Computing Machinery a worldwide learning
                        society for computing. The chapter was founded in March 1,
                        2011. It was started with a vision to carry on ACM
                        international's intentions on a grass root level in PICT.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>


      <section class="new-section" id="acmw">
        <div data-aos="fade-up" data-aos-duration="1000">
          <div class="container-fluid cf2">
            <div class="row">

              <div class="col-xl-6 col-12"></div>
              <div class="col-xl-6 col-12 ">
                <div>
                  <div style="
                              position: relative;  height: 3px;
                              background-color: #2da1b1;
                              width: 80%;
                              margin: 0 auto;
                              margin-top: 5px;
                              border-radius: 20px;
                              margin-bottom: 20px; ">
                    <hr />
                  </div>

                  <div>
                    <h3 class="text-center" style="position: relative;">
                      PICT Acm Student's Chapter - WOMEN
                    </h3>
                  </div>

                  <br /><br />
                </div>
              </div>
            </div>
          </div>

          <section class="new-section">
            <div class="container-fluid cf2">
              <div class="row">
                <div class="col-lg-4 col-12 first ">
                  <div class="card ">
                    <div class="second">
                      <img class="card-img-top" src="../../../assets/images/aboutus/pascwlogo.jpeg" alt="Card image" />
                    </div>

                    <div class="card-body">
                      <a href="https://pict.acm.org/">
                        <h4 class=" text-center">PASC-W</h4>
                      </a>
                      <p class="card-text text-center d-none d-block d-lg-none d-sm-block">
                        Association for Computing Machinery's Council on Women in
                        Computing is an exclusive woman's only wing of ACM which
                        supports & commemorates the participation, contribution
                        and achievements of women in the technical domain.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-8 col-12 d-none d-lg-block">
                  <p class="card-text text-left ">
                    Association for Computing Machinery's Council on Women in
                    Computing is an exclusive woman's only wing of ACM which
                    supports & commemorates the participation, contribution and
                    achievements of women in the technical domain.
                  </p>
                  <p class="card-text text-left ">
                    Encouraging gender equality and women empowerment, ACM W
                    promotes full engagement of women in the technical domain.
                    Through its collaborations and initiatives, ACM W provides a
                    large range of services to all ACM members along with pushing
                    the advancement of contribution of women in the field of
                    computing
                  </p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </div>
  </div>
</section>

<section class="new-section">
  <div class="container">
    <div class="row ">
      <div class="col-12 text-center">
        <h1>CONTACT US</h1>
        <div style="
                position: relative;  height: 3px;
                background-color: #2da1b1;
                width: 10%;
                margin: 0 auto;
                 margin-top: 5px;
                 border-radius: 20px;
                 margin-bottom: 20px; ">
          <hr />
        </div>
        <br />
      </div>
    </div>
    <img src="../../../assets/images/aboutus/contact-us.png" class="contact-hero d-none d-md-block"
      style="margin-left: 3%;" />

    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="row">
          <div class="col-12 ">
            <div class="  row justify-content-center">
              <div class="container-fluid cf2 row ">
                <div class="card col-12 " style="margin-top: 29%;" data-aos="zoom-in" data-aos-duration="1000">
                  <h3 class="text-center map ">Social</h3>
                  <div class="card-body card-text text-center ">
                    <div>

                      <ul type="none" style="padding: 0;">
                        <div class="row">
                          <div class="col-6">
                            <li style="font-size: 25px;">
                              <a href="https://www.facebook.com/acmpict/"><i class="fa fa-facebook"
                                  style="text-decoration: none;"></i></a>
                            </li>
                          </div>
                          <div class="col-6">
                            <li style="font-size: 25px;">
                              <a href="https://www.instagram.com/acm.pict/?hl=en"><i class="fa fa-instagram"
                                  style="text-decoration: none;"></i>
                              </a>
                            </li>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <li style="font-size: 25px;">
                              <a href="https://www.facebook.com/acmpict/"><i class="fa fa-linkedin"
                                  style="text-decoration: none;"></i></a>
                            </li>
                          </div>
                          <div class="col-6">
                            <li style="font-size: 25px;">
                              <a href="https://www.instagram.com/acm.pict/?hl=en"><i class="fa fa-twitter"
                                  style="text-decoration: none;"></i>
                              </a>
                            </li>
                          </div>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container-fluid cf2 row ">
                <div class="card col-12 " style="margin-top: 29%;" data-aos="zoom-in" data-aos-duration="1000">
                  <div class="card-body card-text text-center ">
                    <i class="fa fa-envelope-o fa-2x m-3"></i>
                    <br />
                    <h6>
                      <a href="mailto:acm.pict@gmail.com" style="text-decoration: none;">acm.pict@gmail.com</a>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-12  ">
        <div class="card " style="margin-top: 20%;" data-aos="fade-in" data-aos-duration="1500">
          <div class="card-body">
            <h4 class="text-center">GET IN TOUCH</h4>
            <br /><br />

            <form #captchaProtectedForm="ngForm">
              <div class="form-group row">
                <label for="firstname" class="col-2 col-form-label"><i
                    class="fa fa-user prefix contact-ico"></i></label>
                <div class="col-10">
                  <input [(ngModel)]="name" type="text" class="form-control" name="firstname" placeholder="Your Name"
                    id="firstname" />
                </div>
              </div>

              <div class="form-group row">
                <label for="emailid" class="col-2 col-form-label"><i
                    class="fa fa-envelope prefix contact-ico"></i></label>
                <div class="col-10">
                  <input [(ngModel)]="email" type="email" class="form-control" id="emailid" name="emailid"
                    placeholder="Email" />
                </div>
              </div>
              <div class="form-group row">
                <label for="lastname" class="col-2 col-form-label"><i class="fa fa-tag prefix contact-ico"></i></label>
                <div class="col-10">
                  <input [(ngModel)]="subject" type="text" class="form-control" name="subject" placeholder="Subject"
                    id="subject" />
                </div>
              </div>

              <div class="form-group row">
                <label for="feedback" class="col-2 col-form-label"><i
                    class="fa fa-pencil prefix contact-ico"></i></label>
                <div class="col-10">
                  <textarea [(ngModel)]="text" class="form-control" id="message" name="message" rows="6"></textarea>
                </div>
              </div>
              <br />
              <div class="text-center">
                <re-captcha [(ngModel)]="formModel.captcha" name="captcha" required
                  siteKey="6LcrdcoUAAAAADF0yxaH5-lmx7droHzTSn0dwPJO" #captchaControl="ngModel"></re-captcha>
                <br>
                <button type="submit" class="btn btn-primary " (click)="createFeed()"
                  [hidden]="!captchaControl.valid">Submit </button>

              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-12  ">
        <div class="row">
          <div class="col-12 ">
            <div class="  row justify-content-center">
              <div class="container-fluid cf2 row ">
                <div class="card col-12 " style="margin-top: 29%;" data-aos="zoom-in" data-aos-duration="1000">
                  <div class="card-body card-text text-center ">
                    <h4>ADDRESS</h4>
                    <br />
                    <h6>
                      Survey No. 27, Near, Trimurti Chowk, Bharati Vidyapeeth
                      Campus, Dhankawadi, Pune, Maharashtra 411043
                    </h6>
                  </div>
                </div>
              </div>

              <div class="container-fluids cf2 row ">
                <div class=" mapouter col-12 map " data-aos="zoom-in" data-aos-duration="1000">
                  <div>
                    <iframe id="gmap_canvas"
                      src="https://maps.google.com/maps?q=pune%20institute%20of%20computer&t=&z=13&ie=UTF8&iwloc=&output=embed"
                      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                  </div>
                  <style>
                    .gmap_canvas {
                      overflow: hidden;
                      background: none !important;
                    }
                  </style>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br /><br /><br /><br />
      </div>
    </div>
  </div>
</section>
