<section id="team" class="team-area">
    <section class="speakers-section">
        <div class="container-fluid">
            <div id="heading">
                <div class="container hdAndText" style="text-align: left;">
                  <h1 class="h1text">OUR TEAM</h1>
                  <div class="yellow_line"></div>
                </div>
            </div>
            <div class="row justify-content-around team-items">
                <div class="col-md-3  single-item">
                    <div class="item" data-aos="zoom-in"
          data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="Kale maam.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/dr-geetanjali-kale-17148922/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Dr. Geetanjali Kale</h4>
                            <span>Teacher Guardian</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in"
          data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="Pratik patil.jpg" alt="Thumb">
                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank"
                                    href="https://in.linkedin.com/in/pratikpatil24?trk=public_profile_browsemap_mini-profile_title"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Nachiket Erlekar</h4>
                            <span>PASC Chairman</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in"
          data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="Jay.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/jayprakash-chawla-9a9298134"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Tanush Maddiwar</h4>
                            <span>PASC Vice Chairman</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row justify-content-around team-items">
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in"
          data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="Shreya.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://in.linkedin.com/in/shreyanarkar007"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Shwetali </h4>
                            <span>Secretary</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in"
          data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="Madhura.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/madhura-avachat-51072b171"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Himani Gwalani</h4>
                            <span>Treasurer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in"
          data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="Ratadiya.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/pratik-ratadiya-88622914a/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Shlok</h4>
                            <span>Public Relations Officer</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row justify-content-around team-items">
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in"
          data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="Sumedh Shukla.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank"
                                    href="https://www.linkedin.com/in/sumedh-shukla-81860415a/?originalSubdomain=in"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Geet Shingi</h4>
                            <span>Technical Head</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3  single-item">
                    <div class="item" data-aos="zoom-in"
          data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="Akshay.jpg" alt="Thumb">
                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Darshan Bari</h4>
                            <span>Technical Head</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in"
          data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="shubham.jpeg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/shubhamjc"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Yash Agrawal</h4>
                            <span>Domain Director (Competitive Coding)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-around team-items">


                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in"
          data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="Vindeep.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/vindeep-chaudhari"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Yash Jeswani</h4>
                            <span>Domain Director (Web)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in"
          data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="Dhvani.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/dhwani-shah-40222a14a"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Gaurav</h4>
                            <span>Domain Director (Android)</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in"
          data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="Kshitij.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/kshitijpatil98"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Aditi Badhe</h4>
                            <span>Marketing Head</span>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="row justify-content-around team-items">


                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in"
          data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="Vindeep.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/vindeep-chaudhari"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Ritik Manghani</h4>
                            <span>Design Head</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in"
          data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="Dhvani.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/dhwani-shah-40222a14a"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Krishna Malge</h4>
                            <span>Design Head</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in"
          data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="Kshitij.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/kshitijpatil98"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Mihir Kumar</h4>
                            <span>Content Head</span>
                        </div>
                    </div>
                </div>                
            </div>






        </div>
    </section>
    </section>