<section id="team" class="team-area">
    <section class="speakers-section">
        <div class="container-fluid">
            <div id="heading">
                <div class="container hdAndText" style="text-align: left;">
                    <h1 class="h1text">OUR TEAM</h1>
                    <div class="yellow_line"></div>
                </div>
            </div>
            <div class="row justify-content-around team-items">
                <div class="col-md-3  single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/Kale maam.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/dr-geetanjali-kale-17148922/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Dr. Geetanjali Kale</h4>
                            <span>Teacher Guardian</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/nachiket.jpg" alt="Thumb">
                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/nachiket-erlekar-514777160/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Nachiket Erlekar</h4>
                            <span>PASC Chairman</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/tanush.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/tanush-maddiwar/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Tanush Maddiwar</h4>
                            <span>PASC Vice Chairman</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row justify-content-around team-items">
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/Shwetali.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/shwetali-shimangaud-516774185/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Shwetali Shimangaud</h4>
                            <span>Secretary</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/himani.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/himani-gwalani-325066b8/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Himani Gwalani</h4>
                            <span>Treasurer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/shlok.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/shlok-dolharkar-281bb416a/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Shlok Dolharkar</h4>
                            <span>Public Relations Officer</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row justify-content-around team-items">
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/Geet.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/geet-shingi-337880148/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Geet Shingi</h4>
                            <span>Technical Head</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3  single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/darshan.jpeg" alt="Thumb">
                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/darshan-bari-79519314a/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Darshan Bari</h4>
                            <span>Technical Head</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/yash agrawal.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/yash-agarwal-b35ba076/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Yash Agrawal</h4>
                            <span>Domain Director (Competitive Coding)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-around team-items">


                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/yash jeswani.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/yash-jeswani-45b42b16a/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Yash Jeswani</h4>
                            <span>Domain Director (Web)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/gaurav.PNG" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/gaurav-deshpande-255770187/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Gaurav Deshpande</h4>
                            <span>Domain Director (Android)</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/aditi.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/aditi-badhe-412a7b161/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Aditi Badhe</h4>
                            <span>Marketing Head</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-around team-items">


                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/ritik.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/ritik-manghani-b4692118b/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Ritik Manghani</h4>
                            <span>Design Head</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/krishna.jpeg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/krishna-malge-ab166b183/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Krishna Malge</h4>
                            <span>Design Head</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/mihir.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/mihir-kumar-0142a6189/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Mihir Kumar</h4>
                            <span>Content Head</span>
                        </div>
                    </div>
                </div>
            </div>






        </div>
    </section>
</section>