<br><br><br>

<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-2 col-xs-3 text-center">
                    <h3> Contact </h3>
                    <ul>
                        <li><i class="fa fa-map-marker fa-2x m-2"></i><br>Survey No. 27, Near Trimurti Chowk,
                            Dhankawadi,
                            Pune,
                            Maharashtra 411043</li>
                        <br />
                        <li>
                            <i class="fa fa-envelope-o fa-2x m-2"></i>
                        </li>
                        <li>
                            <a href="mailto:acm.pict@gmail.com" style="text-decoration: none;"> acm.pict@gmail.com </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <img src="../../../assets/images/acmchapter.png" width="30%" height="auto" class="footer-img"
                        alt="">
                    <!-- <img src="../../../assets/images/home/logo.png" width="30%" height="auto" class="footer-img" alt=""> -->
                </div>

                <div class="col-lg-3 col-sm-2 col-xs-3">
                    <ul>
                        <div class="row">
                            <div class="col-6 text-center">
                                <li>
                                    <h5> <a routerLink="/events" style="margin-top: 3em"> Events</a>
                                    </h5>
                                </li>
                                <li>
                                    <h5><a routerLink="/domains"> Domains </a>
                                    </h5>
                                </li>
                                <li>
                                    <h5><a routerLink="/blogs"> Blogs </a>
                                    </h5>
                                </li>
                            </div>

                            <div class="col-6 text-center">
                                <li>
                                    <h5><a routerLink="/gallery" style="margin-top: 3em"> Gallery </a>
                                    </h5>
                                </li>
                                <li>
                                    <h5><a routerLink="/team"> Our Team </a>
                                    </h5>
                                </li>
                                <li>
                                    <h5><a routerLink="/aboutus"> About Us </a>
                                    </h5>
                                </li>
                            </div>
                        </div>
                        <div class="text-center">
                            <li>
                                <h5><a href="https://dl.acm.org/" target="_blank" style="margin-top: 2em"> ACM DIGITAL
                                        LIBRARY </a>
                                </h5>
                            </li>
                            <li>
                                <h5><a href="https://india.acm.org/" target="_blank"> ACM INDIA </a>
                                </h5>
                            </li>
                        </div>
                    </ul>
                </div>

                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-->

        <div class="footer-bottom">
            <div class="container text-center">
                <p> Developed with ❤ by PASC Web team. </p>
                <a class="btn btn-info mt-3" data-toggle="modal" data-target="#myModal">WEB
                    TEAM</a>

            </div>
        </div>
        <!--/.footer-bottom-->
    </div>

</footer>

<section id="team" class="team-area">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">WEB TEAM</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <div class="row justify-content-around team-items">
                        <div class="col-md-3 single-item">
                            <div class="item">
                                <div class="thumb">
                                    <img class="img-council" src="../../../assets/images/web team/atharv.jpeg"
                                        alt="Thumb">

                                </div>
                                <div class="info">
                                    <span class="message">
                                        <a target="_blank" href="https://in.linkedin.com/in/avc0706"><i
                                                class="fa fa-linkedin"></i></a>
                                    </span>
                                    <h4>Atharv Chavan</h4>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 single-item">
                            <div class="item">
                                <div class="thumb">
                                    <img class="img-council" src="../../../assets/images/web team/abc.jpeg" alt="Thumb">

                                </div>
                                <div class="info">
                                    <span class="message">
                                        <a target="_blank"
                                            href="https://www.linkedin.com/in/atharva-chavan-04a794187"><i
                                                class="fa fa-linkedin"></i></a>
                                    </span>
                                    <h4>Atharva Chavan</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 single-item">
                            <div class="item">
                                <div class="thumb">
                                    <img class="img-council" src="../../../assets/images/web team/prathamesh.jpg"
                                        alt="Thumb">

                                </div>
                                <div class="info">
                                    <span class="message">
                                        <a target="_blank"
                                            href="https://www.linkedin.com/in/prathamesh-shiralkar-5b7137176/"><i
                                                class="fa fa-linkedin"></i></a>
                                    </span>
                                    <h4>Prathamesh Shiralkar</h4>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="row justify-content-around team-items">


                        <div class="col-md-3 single-item">
                            <div class="item">
                                <div class="thumb">
                                    <img class="img-council" src="../../../assets/images/web team/pratik.jpg"
                                        alt="Thumb">

                                </div>
                                <div class="info">
                                    <span class="message">
                                        <a target="_blank" href="https://www.linkedin.com/in/pratikdaigavane/"><i
                                                class="fa fa-linkedin"></i></a>
                                    </span>
                                    <h4>Pratik Daigavane</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 single-item">
                            <div class="item">
                                <div class="thumb">
                                    <img class="img-council" src="../../../assets/images/web team/rohit.jpg"
                                        alt="Thumb">

                                </div>
                                <div class="info">
                                    <span class="message">
                                        <a target="_blank"
                                            href="https://www.linkedin.com/in/rohit-pardeshi-785921176"><i
                                                class="fa fa-linkedin"></i></a>
                                    </span>
                                    <h4>Rohit Pardeshi</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 single-item">
                            <div class="item">
                                <div class="thumb">
                                    <img class="img-council" src="../../../assets/images/web team/shubham.jpg"
                                        alt="Thumb">

                                </div>
                                <div class="info">
                                    <span class="message">
                                        <a target="_blank"
                                            href="https://www.linkedin.com/in/shubham-kukreja-631802179"><i
                                                class="fa fa-linkedin"></i></a>
                                    </span>
                                    <h4>Shubham Kukreja</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 single-item">
                            <div class="item">
                                <div class="thumb">
                                    <img class="img-council" src="../../../assets/images/web team/utkarsh.jpeg"
                                        alt="Thumb">

                                </div>
                                <div class="info">
                                    <span class="message">
                                        <a target="_blank" href="https://www.linkedin.com/in/utkarsh-atre-b5601316b"><i
                                                class="fa fa-linkedin"></i></a>
                                    </span>
                                    <h4>Utkarsh Atre</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</section>