.full {
  width: 100%;
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background: #003a78;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #dddddd;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 0px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer h4 {
  color: white;
  font-size: 2em;
  font-weight: 600;
  line-height: 38px;
  padding: 40px 0 10px;
  font-family: cursive;
  font-weight: lighter;
}

.footer ul {
  font-size: 17px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0px;
  color: #fff;
  padding: 0 0 8px 0;
}

.email {
  border-bottom: 3px solid #fff;
}
.footer ul li a {
  padding: 0 0 12px 0;
  display: block;
}
.footer a {
  color: white;
  font-weight: lighter;
}
h5 {
  font-weight: lighter;
  text-transform: none;
  font-size: 1.08rem;
}
.footer p {
  color: white;
  font-weight: lighter;
  /* font-size:  */
}

.footer a:hover {
  text-decoration: none;
  font-weight: bold;
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.bg-gray {
  background-image: -moz-linear-gradient(
    center bottom,
    #bbbbbb 0%,
    #f0f0f0 100%
  );
  box-shadow: 0 1px 0 #b4b3b3;
}

.footer a {
  color: #fff;
}

.footer-bottom {
  margin-top: 2em;
  border-top: 1px solid #dddddd;
  padding-top: 20px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
  font-size: 0.75em;
}

.footer img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 900px) {
  .footer img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-heading h2 {
  color: White;
  display: block;
  font-family: "xscale";
  font-weight: 1500;
  font-size: 75px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.site-heading h2 span {
  font-family: "xscale";
  font-size: 75px;
  color: White;
}

.site-heading h4 {
  color: White;
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}

.site-heading h4::before {
  background: #66ffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading h2 span {
  color: #66ffff;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.team-area .single-item {
  margin-bottom: 30px;
}

.team-area .item .thumb {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.team-area .item .thumb img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.team-area .item .thumb .social li {
  display: inline-block;
}

.team-area .item .thumb .social li a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0 2px;
  text-align: center;
  width: 40px;
}

.team-area .info {
  background: #ffffff none repeat scroll 0 0;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  padding: 40px 20px 20px;
  position: relative;
  text-align: center;
  z-index: 9;
  border-radius: 0 0 25px 25px;
}

.team-area .info .message {
  height: 50px;
  line-height: 40px;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px;
}

.team-area .info .message a {
  background: #fff none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  box-sizing: border-box;
  color: #1ab7ea;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  width: 50px;
}

.team-area .info .message a i {
  font-weight: 500;
}

.team-area .info h4 {
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.img-council {
  width: 100%;
  height: auto;
  border-radius: 25px 25px 0 0;
}

.team-area .info span {
  color: #18a1fc;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.team-area .social li.github a {
  background-color: black;
}
.team-area .social li.facebook a {
  background-color: #3b5998;
}
.team-area .social li.linkedin a {
  background-color: #1ab7ea;
}

#part {
  position: fixed;
  width: auto;
  z-index: 0;
  height: 102vh;
  top: -15px;
}
