<!-- <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light fill fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand external" href="#">
      <img src="../../../assets/images/navbar/logo.png" width="30" height="30" alt="">
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Domains</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
    </ul>
  </div>
</nav> -->

<div *ngIf="authService.afAuth.authState | async; then authenticatd else guet"></div>


<ng-template #guet>
  <section>
    <nav class="navbar navbar-expand-lg navbar-light  fixed-top top-nav-collapse fill" style="z-index: 1000;">
      <div class="container">
        <a class="navbar-brand" href="#"><i class="fas fa-chess-king"></i> <img class="navlogo"
            src="../../../assets/images/navbar/Logo-name.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active"><span id="text">Home</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/events" routerLinkActive="active"><span id="text">Events</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/domains" routerLinkActive="active"><span id="text">Domains</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/team" routerLinkActive="active"><span id="text">Our Team</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/gallery" routerLinkActive="active"><span id="text">Gallery</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/blogs" routerLinkActive="active"><span id="text">Blog</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/aboutus" routerLinkActive="active"><span id="text">About Us</span></a>
            </li>


            <li class="nav-item">
              <a class="nav-link" routerLink="/login" routerLinkActive="active"><span id="text">Login</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/signup" routerLinkActive="active"><span id="text">SignUp</span></a>
            </li>



          </ul>
        </div>
      </div>
    </nav>
  </section>
</ng-template>



<ng-template #authenticatd>
  <section>
    <nav class="navbar navbar-expand-lg navbar-light  fixed-top top-nav-collapse fill" style="z-index: 1000;">
      <div class="container">
        <a class="navbar-brand" href="#"><i class="fas fa-chess-king"></i> <img class="navlogo"
            src="../../../assets/images/navbar/Logo-name.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active"><span id="text">Home</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/events" routerLinkActive="active"><span id="text">Events</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/domains" routerLinkActive="active"><span id="text">Domains</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/team" routerLinkActive="active"><span id="text">Our Team</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/gallery" routerLinkActive="active"><span id="text">Gallery</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/blogs" routerLinkActive="active"><span id="text">Blog</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/aboutus" routerLinkActive="active"><span id="text">About Us</span></a>
            </li>

            <!-- add profile avatar with logout and profile dropdown -->
            <ng-container *ngIf="currentUser">
              <li class="nav-item">
                <a class="nav-link" routerLink="/profile" routerLinkActive="active"><span id="text">Profile</span></a>
              </li>
              <li class="nav-item">

                <a class="nav-link" (click)="authService.SignOut()" routerLinkActive="active" data-toggle="tooltip"
                  data-placement="bottom" title="Logout"><i class="fa fa-sign-out"></i></a>
              </li>
            </ng-container>

          </ul>
        </div>
      </div>
    </nav>
  </section>
</ng-template>

<div class="button desktop-only">
  <div class="links">
    <a class="fa fa-twitter" target="_blank" href="https://twitter.com/"></a>
    <a class="fa fa-instagram" target="_blank" href="https://www.instagram.com/acm.pict/"></a>
    <a class="fa fa-facebook" target="_blank" href="https://www.facebook.com/acmpict/"></a>
    <a class="fa fa-linkedin" target="_blank" href="https://www.linkedin.com/"></a>
  </div>
  <div class="overlay">
    <a><br />F<br />O<br />L<br />L<br />O<br />W<br /><br /></a>
  </div>
</div>

<a class="button1 desktop-only" routerLink="/events" style="text-decoration: none;">
  <!-- <div class="links">
    <a class="fa fa-twitter" target="_blank" href="https://twitter.com/"></a>
    <a class="fa fa-instagram" target="_blank" href="https://www.instagram.com//"></a>
    <a class="fa fa-facebook" target="_blank" href="https://facebook.com//"></a>
    <a class="fa fa-linkedin" target="_blank" href="https://www.linkedin.com/"></a>
  </div> -->
  <div class="overlay">
    <a><br />E<br />V<br />E<br />N<br />T<br />S<br /><br /></a>
  </div>
</a>