.button {
  width: 60px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  left: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  justify-content: space-evenly;
  background: #245991;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  color: #ffffff;
  z-index: 99;
  opacity: 1;
  transition: opacity 1s linear;
}

.button .links a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.button .links a:hover {
  color: #fdb811;
  transition-timing-function: ease-in-out !important;
  transition-delay: 1ms !important;
  text-decoration: none;
}

.button .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  height: 250px;
  z-index: 99;
  position: absolute;
  top: 0em;
  left: 0em;
  background: #fdb811;
  transition: 1s cubic-bezier(0.89, 0.03, 0.06, 1.5);
}

.button .overlay a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.button:hover .links a {
  transform: scale(1);
  opacity: 1;
}

.button:hover .overlay {
  transform: translateX(-100px);
}

.button1 {
  width: 60px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  right: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  justify-content: space-evenly;
  background: #fdb811;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  color: #ffffff;
  z-index: 99;
  opacity: 1;
  transition: opacity 1s linear;
}

.button1 .links a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.button1 .links a:hover {
  color: #245991;
  transition-timing-function: ease-in-out !important;
  transition-delay: 1ms !important;
  text-decoration: none;
}

.button1 .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  height: 250px;
  z-index: 99;
  position: absolute;
  top: 0em;
  left: 0em;
  background: #245991;
  transition: 1s cubic-bezier(0.89, 0.03, 0.06, 1.5);
}

.button1 .overlay a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.button1:hover .links a {
  transform: scale(1);
  opacity: 1;
}

@media only screen and (max-width: 992px) {
  .desktop-only {
    display: none;
  }
}

/* .button1:hover .overlay {
  transform: translateX(100px);
} */

.navbar {
  margin-bottom: 0px;
  border: 0px;
}
.navbar {
  border-radius: 0px;
}
.navbar-default {
  background-color: #fff;
  padding: 20px 0;
  transition: all 0.3s;
}
.navbar-default {
  background-color: transparent;
  border: 0px;
}
.navbar {
  border-radius: 0px;
}
.mobile-only {
  display: none;
}
.navbar-brand {
  padding: 0;
  font-family: "Chewy", cursive;
  font-size: 32px;
}

.navbar-brand img {
  width: 250px !important;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ea6045;
}

@media (max-width: 768px) {
  .navbar-collapse {
    border-bottom: 2px black;
    padding-left: 25px;
  }
}

.top-nav-collapse {
  padding: 15px;
  background: #fff;
  opacity: 1;
  /* box-shadow: 0px 1px 10px #999; */
  /* transition: all 200ms; */
}

.white,
.white:hover,
.white:focus {
  color: #fff;
  width: 100% !important;
}
.block {
  display: block;
}
/* .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(12, 184, 182, 0.21);
} */
.navbar-default .navbar-nav > li > a {
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}
/* .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus */

/* color: #000;
    text-transform: uppercase;
     background-color: #eee;
    animation: moveline 1s linear; */

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background-color: rgb(253, 184, 17, 0.7);
  height: 5px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

@keyframes fill {
  0% {
    width: 0%;
    height: 5px;
  }
  50% {
    width: 0%;
    height: 5px;
  }
  100% {
    width: 50%;
    height: 5px;
    background: rgb(253, 184, 17, 0.75);
    border-radius: 10%;
  }
}

.affix {
  background-color: #ffffff !important;
}
.affix .navbar-nav > li > a:hover,
.affix .navbar-nav > li > a:focus {
  background-color: rgba(0, 0, 0) !important;
}

@media (max-width: 768px) {
  .navbar-collapse[_ngcontent-rud-c1] {
    /* background: #eee; */
    border-bottom: 2px black;
    padding-left: 25px;
  }
}

.nav-item {
  margin: 0 5px;
}

.nav-item :hover {
  transition: all 500ms;
  color: #003a78;
}

#text {
  font-weight: 600;
  /* font-size: 1.2rem;x */
}
@media screen and (max-width: 480px){
  .navlogo{
    width: 80%;
  }
  .navbar{
    margin-bottom: 10px;
  }
}
