<!-- <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light fill fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand external" href="#">
      <img src="../../../assets/images/navbar/logo.png" width="30" height="30" alt="">
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Domains</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
    </ul>
  </div>
</nav> -->


<section>
  <nav class="navbar navbar-expand-lg navbar-light  fixed-top top-nav-collapse">
      <div class="container">
          <a class="navbar-brand" href="#"><i class="fas fa-chess-king"></i> <img class="navlogo"
                  src="../../../assets/images/navbar/logo.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/home"><span id="text">Home</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/events"><span id="text">Events</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/domains"><span id="text">Domains</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/team"><span id="text">Our Team</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/gallery"><span id="text">Gallery</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/blogs"><span id="text">Blog</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/aboutus"><span id="text">About Us</span></a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</section>