.html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

.body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    
}

.body, .html {
    font-family: "Open Sans",sans-serif;
    overflow-x: hidden;
}

/* @custom-media --viewport-4 (min-width: 480px);
@custom-media --viewport-7 (min-width: 768px);
@custom-media --viewport-9 (min-width: 992px);
@custom-media --viewport-12 (min-width: 1200px); */

.first_view{
    min-height: 100vh;
}

.first_view .bg-gra{
    height: 100vh;    
    width: 100vw;
    /* background-color: #fff;; */
    /* background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%); */
    background: linear-gradient(-330deg, #0ab1f0 0%, #1977d4 51%, #2b32b2 100%);
    /* transform: skewY( -15deg ); */
    margin-bottom: 20%;
    /* top: -200px; */
    position: absolute;
    z-index: -1;
}

#home #home-img {

    width: 100vw;
    height: auto;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
}

#home .home-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    letter-spacing: 1.5px;
    font-size: 100%;
    transition: opacity 0.2s linear;
    z-index: 6;
    padding: 0 10vw;
}

#home .home-footer .home-footer-line-wrap {
    width: 25%;
}

#home .home-footer .home-footer-line-wrap .before-content-line {
    width: 74%;
}

#home .home-footer .scroll-icon {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

#home .home-footer .scroll-icon img {
    height: 35%;
}

#home .home-footer .fest-tag-line {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 25vw;
}

.social-links {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.social-links .social-icons {
    height: 30%;
    width: 75%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.social-links .social-icons i {
    height: 100%;
    color: #000;;
}


@-webkit-keyframes rotateright {
    50% {
        /*-moz-transform: rotate(180deg);*/
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
        /*-moz-transform: rotate(360deg);*/
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateright {
    50% {
        /*-moz-transform: rotate(180deg);*/
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
        /*-moz-transform: rotate(360deg);*/
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateleft {
    50% {
        /*-moz-transform: rotate(-180deg);*/
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);
        /*-moz-transform: rotate(-360deg);*/
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes rotateleft {
    50% {
        /*-moz-transform: rotate(-180deg);*/
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);
        /*-moz-transform: rotate(-360deg);*/
        -webkit-transform: rotate(-360deg);
    }
}



.home_logo{
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    animation: logo_top 4s ease-in-out;
}

@keyframes logo_top{
    0%{
        width: 60%;
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 0%;
        left: 10%;
        width: 10%;
        transform: translate(0%, 0%);
    }
}

/* about section  */

.abtSec {
    padding-top: 150px;
    padding-bottom: 175px;
    position: relative
}

.hdAndText{
    padding: 0 100px; 
}

.hdAndText .h1text {
    font-size: 5vw;
    color: #003a78;
    line-height: 1.2;
    letter-spacing: 0;
    font-weight: 550;
    /* margin-bottom: 50px */
}

.hdAndText p {
    font-size: 1.2rem;
    color: #363636;
    line-height: 2;
    letter-spacing: 0;
    margin-bottom: 50px;
    max-width: 100%;
}

.yellow_line{
    content: "";
    position: relative;
    bottom: 0px;
    top: -1%;
    left: 0;
    right: 0px;
    height: 5px;
    width: 7%;
    background-color: rgb(253, 184, 17);
    z-index: 1;
    margin-bottom: 5%;
    transition: all 0.3s ease-in-out 0s;
}

.abtSec .abtimg {
    width: 50%;
    position: absolute;
    top: 60%;
    right: 0;
    transform: translate(0%, -50%);
}

.abtSec .abtimg img {
    width: 100%
}

@media only screen and (max-width: 992px) {
    .abtSec {
        padding-top: 75px;
        padding-bottom: 75px;
        
    }

    .hdAndText{
        padding: 0 20px;
    }
    
    .hdAndText .h1text {
        font-size: 10vw;
    }

    .hdAndText p {
        font-size: 2vw;
        text-align: center;
    }

    .abtSec .abtimg {
        width: 50%;
        position: relative;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);
    }
    
    .abtSec .abtimg img {
        width: 100%
    }
}

@media only screen and (max-width: 768px) {
    .abtSec {
        padding-top: 75px;
        padding-bottom: 75px;
        
    }

    .hdAndText{
        padding: 0 20px;
    }
    
    .hdAndText .h1text {
        font-size: 10vw;
    }

    .hdAndText p {
        font-size: 3vw;
        text-align: center;
    }

    .abtSec .abtimg {
        width: 50%;
        position: relative;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);
    }
    
    .abtSec .abtimg img {
        width: 100%
    }
}

@media only screen and (max-width: 480px) {
    .abtSec {
        padding-top: 75px;
        padding-bottom: 75px;
        
    }

    .hdAndText{
        padding: 0 20px;
    }
    
    .hdAndText .h1text {
        font-size: 1.8rem;
    }

    .hdAndText p {
        font-size: 1rem;
        text-align: center;
    }
    .abtSec .abtimg {
        width: 50%;
        position: relative;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);
    }
    
    .abtSec .abtimg img {
        width: 100%
    }
}


.rightSec .rightimg {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.rightSec .rightimg img {
    width: 100%;
    padding: 10%;
}


@media only screen and (max-width: 1000px) {
    .rightSec {
        padding-top: 75px;
        padding-bottom: 75px;
        
    }

    .hdAndText{
        padding: 0 20px;
    }
    
    .hdAndText .h1text {
        font-size: 10vw;
    }

    .hdAndText p {
        font-size: 3vw;
        text-align: center;
    }

    .rightSec .rightimg {
        width: 100%;
        position: relative;
        top: 10%;
        transform: translate(-50%, -50%);
    }
    
    .rightSec .rightimg img {
        width: 100%
    }
}

@media only screen and (max-width: 768px) {
    .rightSec {
        padding-top: 75px;
        padding-bottom: 75px;
        
    }

    .hdAndText{
        padding: 0 20px;
    }
    
    .hdAndText .h1text {
        font-size: 10vw;
    }

    .hdAndText p {
        font-size: 3vw;
        text-align: center;
    }

    .rightSec .abtimg {
        width: 100%;
        position: relative;
        top: 10%;
        transform: translate(-50%, -50%);
    }
    
    .rightSec .abtimg img {
        width: 100%
    }
}

@media only screen and (max-width: 480px) {
    .abtSec {
        padding-top: 75px;
        padding-bottom: 75px;
        
    }

    .hdAndText{
        padding: 0 20px;
    }
    
    .hdAndText .h1text {
        font-size: 1.8rem;
    }

    .hdAndText p {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 25px;
    }
    .abtSec .abtimg {
        width: 50%;
        position: relative;
        top: 10%;        
        transform: translate(-50%, -50%);
    }
    
    .abtSec .abtimg img {
        width: 100%
    }
}

.abt_btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
.abt_btn.learn-more {
    width: 10rem;
    height: auto;
}
.abt_btn.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #003a78;
    border-radius: 1.625rem;
}
.abt_btn.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
.abt_btn.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
.abt_btn.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
.abt_btn.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
.abt_btn:hover .circle {
    width: 100%;
    /* background: #003a78; */
}
.abt_btn:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
.abt_btn:hover .button-text {
    color: #fff;
}

.tabspace{
    margin: 7vw;
    display: inline;
}

@media only screen and (max-width: 480px) {
    .abt_btn{
        margin-top: 6%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .abt_btn.learn-more .circle {
        width: 100%;
        height: 2rem;
    }
    .abt_btn.learn-more .button-text {
        color: #fff ;
        font-size: 1rem;
        padding: 0.25rem 0;
        font-weight: 500;
    }
    .tabspace{
        display: block;
    }
}




/* cards */
.cf1 {
    padding-right: 6%;
    padding-left: 6%;
}

#domains {
    margin-top: 50px;
}

.jumbotron, .probootstrap-footer {
    background-color: rgba(18, 19, 47);
    color: floralwhite;
    border-radius: 0;
    margin-bottom: 0;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}
.square{
    margin: 2% 3%;
    
   background-color: white; 
    widows: 18vw;
    height: 18vw;
    border-radius: 20%;
	padding-bottom: 30%;
	
	transition: background 0.6s; 
	--webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    margin-right: 0;
    box-shadow: 0 15px 9px 0 rgba(0,0,0,.09);
    cursor: pointer;   
}

.row3{
    margin-top: 200px;
}

.row2{
    margin-top: 100px;;

}

.box1{
    /* border: 6px solid #fdb811; */
    animation: blink 1s infinite;
}


.box1:hover{
    /* animation: hidden; */
    background: #fdb811;
    /* border: 6px solid #fff; */
}

.box2{
    border: 6px solid #245991;
    animation: blink 1s infinite;
}


.box2:hover{
    /* animation: none; */
    background: #245991;
    /* border: 6px solid #fff; */
}

.box3{
    background-color: #fdb811;
    box-shadow: 0 14px 14px -3px rgba(253,184,17,.42);
}

#letter{
    padding: 0 10% 0 10%;
    color: #b1cfef;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin: 0;
}


@media only screen and (min-width: 1200px){
    .square{
        padding: 30px;
    }
}

.mytext{
    color: #638db9;
    font-size: 1.5rem;
    font-weight: 500;
    

}

.eventSec{
    padding-top: 150px;
    padding-bottom: 175px;
    position: relative
}

.vertical-text{
    float: right;
    font-size: 1.2rem;
    color: #003a78;
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 700;
}


.know-more{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.know-more p{
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
   .eventSec {
    padding-top: 75px;
    padding-bottom: 75px;
    }
    .square{
        height: 30vw;
        width: 30vw;
    }

    .mytext{
        font-size: 1rem;;
    }
}

@media only screen and (max-width: 768px) {
    .square{
        height: 25vw;
        width: 25vw;
    }

    .mytext{
        font-size: 1rem;;
    }}

@media only screen and (max-width: 480px){
   
    .square{
        height: 30%;
        width:100%;
    }

    .mytext{
        font-size: 1rem;;
    }
}

/* Side button  */

.button {
	width: 60px;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	position: fixed;
	left: 2%;
	top: 50%;
	transform: translate(-50%, -50%);
	justify-content: space-evenly;
	background: #245991;
	text-align: center;
	font-weight: bold;
	overflow: hidden;
    color: #ffffff;
    z-index: 999;
    opacity: 0;
}

.button .links a {
	
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
    
}

.button .links a:hover {
	color: #fdb811;
	transition-timing-function: ease-in-out !important;
    transition-delay: 1ms !important;
    text-decoration: none;
}


.button .overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 60px;
    height: 250px;
    z-index: 99;
	position: absolute;
	top: 0em;
	left: 0em;
	background: #fdb811;
	transition: 1s cubic-bezier(0.89, 0.03, 0.06, 1.5);
}

.button .overlay a {
	
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
      
}

.button:hover .links a {
	transform: scale(1);
	opacity: 1;
}

.button:hover .overlay {
	transform: translateX(-100px);
}

@keyframes beat {
	to {
		transform: scale(1.4);
	}
}

@media only screen and (max-width: 992px){
    .desktop-only{
        display: none;
    }
}
#e1, #e2, #e3, #e4, #close{
    display: none;
}

.show-content{
    padding: 0 100px; 
}

.show-content h1 {
    font-size: 3rem;
    color: #000;
    line-height: 1.2;
    letter-spacing: 0;
    font-weight: 700;
    text-align: center;
    /* margin-bottom: 50px */
}

.show-content p {
    font-size: 1.5rem;
    color: #363636;
    line-height: 1.8;
    letter-spacing: 0;
    margin: 50px 0;    
    max-width: 100%;
    text-align: center;    
}

.show-content .date{
    font-size: 1.2rem;
    color: #363636;
    line-height: 1.8;
    letter-spacing: 0;
    margin: 50px 0;    
    max-width: 100%;
    text-align: right; 
}

@media only screen and (max-width: 992px) {
    
    .show-content{
        padding: 20px;
    }
    
    .show-content h1 {
        font-size: 2rem;
    }    
    .show-content p {
        font-size: 2vw;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .show-content{
        padding: 20px;
    }
    
    
    .show-content p {
        font-size: 3vw;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .show-content{
        padding: 20px;
    }
    
    
    .show-content p {
        font-size: 1rem;
        text-align: center;
    }
}


/* benefit  */

.benefitSec{
    background-color: #003a78;
    position: relative;
    height: 100vh;
    padding: 100px 0;
    width: 102vw;
    margin-bottom: 100px;
}

@media only screen and (max-width: 992px){
    .benefitSec{
        height: auto;
    }
}

.benefitSec img{
    z-index: 1;
    top: -100px;
    opacity: .05;
    width: 100%;
    position: absolute;
    align-self: center;
}

.benefitSec .yellow_line{
    width: 40rem;
    margin-top: -100px;
    transform: translate(-50%, 0);
    left: 50%;
}

.benHeading{
    font-size: 3rem;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 100px;
    font-weight: 600;
    position: relative;
    z-index: 5;
}

.benText{
    color: #fff;
}

.benText li{
    margin: 20px;
}
