<br><br><br>
<div *ngIf="currentUser.admin">
<nav class="navbar navbar-light bg-info">
    <span class="navbar-brand mb-0 h1">Admin Panel</span>
    <ul class="nav justify-content-end">
            <li class="nav-item">
                    <a class="nav-link text-danger" routerLink = '/adminevents'>New Event</a>
                  </li>
    </ul>
  </nav>
<br>
<br>
<br>
<br>
<br>
<div class="grid-container">
<div *ngFor = "let item of items" >
<div class="card " style="width: 18rem;"  >
    <div class="card-body">
      <h5 class="card-title">{{item.topic}}</h5>
      <h6 class="card-subtitle mb-2 text-muted"> {{item.date | date}} </h6>
      <p class="card-text"> {{item.description}} </p>
      <button mat-raised-button class="delete-button" color="warn" type="button" (click)="viewDetails(item)">Details</button>
    </div>
    
  </div>
  
</div>
</div>
</div>

<div *ngIf="!currentUser.admin" >
  <br><br>
  <div style="text-align: center;">
  <img src="../../../assets/images/avc/error-404-found-glitch-effect_8024-4.jpg" alt="">
  </div>
  </div>