<div class="container" style="padding: 6rem;">
    <h1>{{blog.heading}}</h1>
    <h4 class="font-weight-light text-muted">{{blog.subHeading}}</h4>
    
    <div class="category">
        <span class="badge badge-pill badge-primary ml-1 mr-1">{{blog.category}}</span>
    </div>
    <img src="{{blog.image}}" alt="" class="img-fluid">
    <div class="lead e2e-trusted-url" [innerHTML]="blog.content | keepHtml"></div>
    <div *ngIf="!blog.approve">
        <button (click)="markCompleted(blog.id)">Accept</button>
        <button (click)="deleteBlog(blog.id)">Delete</button>
    </div>
</div>
