<br><br>
<section id="heading">
  <div class="container hdAndText" style="text-align: left;">
    <h1 class="h1text">DOMAINS</h1>
    <div class="yellow_line"></div>
  </div>
</section>
<section>
  <div class="d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000">
    <div class="container-fluid">
      <div class="new-section mx-4">
        <div class="row">
          <div class="col-12">
            <br />
            <h1 class=" org">
              <p class="intro">
                For the overall development of our members, we have created
                several SIGs namely, Machine learning, Web Development,
                Android Development, Competitive Coding, Electronics and Cyber
                Security.New domains are to be added such as Blockchain and
                Cloud Computing. Regular meetups and teaching sessions are
                conducted by PASC members so that like-minded people can come
                together, interact and share knowledge with each other.
                <span class="d-none d-md-inline">
                  We nurture the growth of inquisitive minds by providing them
                  with every opportunity to excel in various fields. The
                  chapter organizes seminars and workshops on different
                  domains by speakers who are well-known in their fields,
                  which give students opportunities to learn about advanced
                  research subjects.
                </span>
              </p>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="domain" class="container">
  <div class="row active-with-click">
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <article class="material-card Indigo" data-aos="zoom-in" data-aos-duration="1000">
        <h2>
          <span>Android
            <span class="d-inline d-sm-none d-lg-inline">Development</span></span>
          <strong>
            <!-- <i class="fas fa-users"></i> -->

          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="../../../assets/images/domains/Android.jpg" />
          </div>
          <div class="mc-description">
            Android Development is one of the primary domains of PASC. Here, we encourage people to learn and develop
            android apps.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <!-- <div class="mc-footer">
          <h4>
            Guided by:
          </h4>
          <span id="domaindir"><i class="fas fa-chalkboard-teacher"></i> Yash Jeswani</span>
        </div> -->
      </article>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 mt-5 mt-sm-0">
      <article class="material-card Indigo" data-aos="zoom-in" data-aos-duration="1000">
        <h2>
          <span>Web Dev<span class="d-inline d-sm-none d-lg-inline">elopment</span></span>
          <strong>
            <!-- <i class="fas fa-users"></i> -->

          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="../../../assets/images/domains/Web1.jpg" />
          </div>
          <div class="mc-description">
            Web Development is also one of the primary domains of PASC. The various chapter activities are organized
            to help students sharpen their Web-Dev skills.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <!-- <div class="mc-footer">
          <h4>
            Guided by:
          </h4>
          <span id="domaindir"><i class="fas fa-chalkboard-teacher"></i> Yash Jeswani</span>
        </div> -->
      </article>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 mt-5 mt-lg-0">
      <article class="material-card Indigo" data-aos="zoom-in" data-aos-duration="1000">
        <h2>
          <span>Competitive
            <span class="d-inline d-md-none d-lg-inline">Coding</span></span>
          <strong>
            <!-- <i class="fas fa-users"></i> -->

          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="../../../assets/images/domains/CC.jpg" />
          </div>
          <div class="mc-description">
            Competitive Programming is one of the key areas of interests in budding programmers who wish to hone their
            problem solving skills.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <!-- <div class="mc-footer">
          <h4>
            Guided by:
          </h4>
          <span id="domaindir"><i class="fas fa-chalkboard-teacher"></i> Yash Jeswani</span>
        </div> -->
      </article>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 mt-5 mt-lg-0">
      <article class="material-card Indigo" data-aos="zoom-in" data-aos-duration="1000">
        <h2>
          <span class="d-md-none d-lg-inline">Machine Learning</span>
          <span class="d-none d-md-inline d-lg-none">ML</span>
          <strong>
            <!-- <i class="fas fa-users"></i> -->

          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="../../../assets/images/domains/ML.jpg" />
          </div>
          <div class="mc-description">
            Machine Learning is undeniably one of the most influential and powerful technologies in today’s world.It is
            a continuously developing field.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <!-- <div class="mc-footer">
          <h4>
            Guided by:
          </h4>
          <span id="domaindir"><i class="fas fa-chalkboard-teacher"></i> Yash Jeswani</span>
        </div> -->
      </article>
    </div>

    <div class="col-lg-4 col-sm-6 col-xs-12  mt-5 mt-lg-0">
      <article class="material-card Indigo" data-aos="zoom-in" data-aos-duration="1000">
        <h2>
          <span>Blockchain
            <span class="d-inline d-sm-none d-lg-inline">Technology</span></span>
          <strong>
            <!-- <i class="fas fa-users"></i> -->

          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="../../../assets/images/domains/Blockchain.jpg" />
          </div>
          <div class="mc-description">
            Blockchain technology has been garnering great hype recently. It is a technology that facilitates the
            digital exchange of units of value.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <!-- <div class="mc-footer">
          <h4>
            Guided by:
          </h4>
          <span id="domaindir"><i class="fas fa-chalkboard-teacher"></i> Yash Jeswani</span>
        </div> -->
      </article>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12  mt-5 mt-lg-0">
      <article class="material-card Indigo" data-aos="zoom-in" data-aos-duration="1000">
        <h2>
          <span>Cyber Security</span>
          <strong>
            <!-- <i class="fas fa-users"></i> -->

          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="../../../assets/images/domains/CS.jpg" />
          </div>
          <div class="mc-description">
            Cyber security has become a well-known term in recent years. It deals with the protection of software,
            hardware, networks and its information.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <!-- <div class="mc-footer">
          <h4>
            Guided by:
          </h4>
          <span id="domaindir"><i class="fas fa-chalkboard-teacher"></i> Yash Jeswani</span>
        </div> -->
      </article>
    </div>
  </div>
</section>