body{
    margin: 0;
    padding: 0;
    background-size: cover;
    
    font-family: sans-serif;
}



.login-box{
    width: auto;
    height: 568px;
    background: rgba(0, 0, 0, 0);
    color: #000;
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
/* .login-box input[type="email"], input[type="password"]
{
    border: none;
    border: 1px solid #000; 
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    transition: all ease-in 0.2s;
} */

/* .login-box input[type="email"]:hover{
    border: 1px solid #111111;
} */
/* .login-box input[type="password"]:hover{
    border-bottom: 2px solid #fff;
} */

.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    transition: background 0.3s ;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #89D0F0;
    color: rgb(43, 39, 39);
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    /* color: #fff; */
    transition: color 0.3s;
    cursor: pointer;
}
.login-box a:hover
{
    color: #89D0F0    ;
}

.forgot{
    text-align: center;
    color: #111111!important;
}

.btn{
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    transition: background 0.3s ;
    margin-bottom: 10px;
    
}

.btn:hover
{
    cursor: pointer;
    background: #89D0F0;
    color: rgb(43, 39, 39);
}

.para {
    margin: 5px;
}

.card{
    align-self: center;
   
  margin:2%;
  margin-top: 30%;
    

}

























































