<div class="container">
    <div class="row">
      <div class="col-md-12"><br /><br /></div>
  
      <div class="justify-content-center">
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <br />
              <h1 class="h2">Verify Email</h1>
              <br />
              <img
                class=""
                src=" {{
                  '../../../assets/images/avc/undraw_code_thinking_1jeh.png'
                }}"
                alt="Profile Photo"
                style="width:100%"
              />
              <br />
              <br />
              <h6 class="text-center">
                Please Verify your email address , 
                Link has been sent to you email.  <br>( Can be directed to spam sometimes )
              </h6>
  
              <br />
  
              <button
                 class="redirect btn-primary" routerLink="/login">Go to Login </button
              >
              <br>
            </div>
            <br /><br />
          </div>
        </div>
      </div>
    </div>
  </div>