
<div class="container">
<div class="row" style="margin: 100px 0">
  <div class="col-md-5">
    <h1 class="h1text">PASC BLOGS</h1>
    <div class="yellow_line"></div>
      <section class="cd-intro">
        <h1 class="cd-headline rotate-1">
           <span>What's Your Interest?</span>
           <br>
           <span class="cd-words-wrapper">
              <b class="is-visible text-muted">#tech</b>
              <b class="text-muted">#webDev</b>
              <b class="text-muted">#dataScience</b>
              <b class="text-muted">#blockchain</b>
              <b class="text-muted">#appDev</b>
           </span>
        </h1>
     </section> 
     <button class="btn btn-primary" onclick="scrollWin(0, 600)">Explore</button>
    </div>
  <div class="col-md-7">
    <img src="../../../assets/images/homeSVG.svg" alt="" class="svg-image" />
  </div>
</div>
</div>
<div class="mybutton">
 <button class="addblog" routerLink='/new'> Add Blogs</button> 
  </div>
