.h1text {
  font-size: 5vw;
  color: #003a78;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 550;
  /* margin-bottom: 50px */
  font-family: "Open Sans",sans-serif;
}

@media screen and (max-width: 900px)
{
  .h1text {
  font-size: 3rem;
  } 
} 

.yellow_line{
  content: "";
  position: relative;
  bottom: 0px;
  top: -15px;
  left: 0;
  right: 0px;
  height: 10px;
  width: 10%;
  background-color: rgb(253, 184, 17);
  z-index: 1;
  margin-bottom: 5%;
  transition: all 0.3s ease-in-out 0s;
}
.svg-image {
  width: 100%;
  background-attachment: parallax;
}
.sub-heading {
  font-size: 2rem;
  font-weight: 400;
}
.heading {
  font-size: 4rem;
}
b {
  font-weight: 300;
}
.btn:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; /* change the direction of the change here */
}
#vantajs {
  height: 80vh;
  width: 100%;
  position: absolute;
  top: 0;
}

.btn {
  width: 150px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  margin-left: 0;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.cd-headline.rotate-1 .cd-words-wrapper {
  display: inline-block;
  perspective: 300px;
}
.cd-headline.rotate-1 b {
  opacity: 0;
  transform-origin: 50% 100%;
  transform: rotateX(180deg);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.cd-headline.rotate-1 b.is-visible {
  position: relative;
  opacity: 1;
  transform: rotateX(0deg);
}
.cd-headline.rotate-1 b {
  opacity: 0;
  transform-origin: 50% 100%;
  transform: rotateX(180deg);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.cd-headline.rotate-1 b.is-visible {
  position: relative;
  opacity: 1;
  transform: rotateX(0deg);
  animation: cd-rotate-1-in 1.2s;
}

.cd-headline.rotate-1 b.is-hidden {
  transform: rotateX(180deg);
  animation: cd-rotate-1-out 1.2s;
}
@keyframes cd-rotate-1-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}

@keyframes cd-rotate-1-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}

.addblog {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border-color: #46b8da;
  transition: all ease-in-out 0.3s;
}

.mybutton {
  z-index: 9999;
  position: fixed;
  bottom: 5vh;
  right: 5vw;
}

.addblog:hover{
  background-color: #003a78;
}