<div id="vantajs"></div>
<div class="container">
<div class="row" style="margin: 100px 0">
  <div class="col-md-5">
      <h1 class="heading" id="simpleUsage">
        PASC BLOGS
      </h1>
      <section class="cd-intro">
        <h1 class="cd-headline rotate-1">
           <span>What's Your Insterest?</span>
           <span class="cd-words-wrapper">
              <b class="is-visible text-muted">#tech</b>
              <b class="text-muted">#webDev</b>
              <b class="text-muted">#dataScience</b>
              <b class="text-muted">#blockchain</b>
              <b class="text-muted">#appDev</b>
           </span>
        </h1>
     </section> 
     <button class="btn btn-primary" onclick="scrollWin(0, 600)">Explore</button>
    </div>
  <div class="col-md-7">
    <img src="../../../assets/images/homeSVG.svg" alt="" class="svg-image" />
  </div>
</div>
</div>
