.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background: #3C8ADB;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: background 0.2s;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color:  #89D0F0;
  }
  
  button:hover, a:hover {
   background:#89D0F0 ;
  }

  .row{
      display: inline;
      margin: 0px;
  }