
  <section id="heading">
    <div class="container hdAndText" style="text-align: left;">
      <h1 class="h1text">EVENTS</h1>
      <div class="yellow_line"></div>
    </div>
  </section>

  
  <section>
    <div class="container scr_table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Event/Activity</th>
          <th scope="col">Attendees</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody  *ngFor = "let item of items"> 
        <tr>
          <th scope="row"> {{item.date | date}} </th>
          <td> {{item.activity}} </td>
          <td> {{item.attendees}} </td>
          <td> {{item.details}} </td>
        </tr>

      </tbody>
    </table>
    </div>
  </section>



  <section id="intro">
    <div data-aos="fade-up" data-aos-duration="1000">
      <div class="row mt-xl-3 mx-xl-3">
        <div class="col-xl-5 d-none d-xl-inline mt-xl-5">
          <div class="pulzion mt-4 mt-xl-0 mx-3">
            <div class="p-8">
              <h2 class="myheading" style="text-align: center;">PULZION</h2>
              <p class="introText">
                Pulzion 2019 held on the 23th, 24th, 25th of August 2019,
                witnessed a tremendous footfall of students from different
                places with a dream to excel and a passion to win. The event
                held primarily for engineering students across Maharashtra was
                organized with the aim of promoting technology as a science as
                well as a profession.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-7 mt-xl-5">
          <img
            src="../../../assets/images/events/PULZION 19.png"
            alt="PASC Team" width="50%"
            class="image"
          />
        </div>

        <div
          class="col-xl-4 d-inline d-xl-none"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <div class="pulzion m-4 mt-xl-0 mx-3">
            <div class="p-8">
              <h2 class="myheading" style="text-align: center;">PULZION</h2>
              <p class="introText">
                Pulzion 2019 held on the 17th, 18th, 19th of August 2018,
                witnessed a tremendous footfall of students from different
                places with a dream to excel and a passion to win. The event
                held primarily for engineering students across Maharashtra was
                organized with the aim of promoting technology as a science as
                well as a profession.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="logo" class="my-5">
    <div class="container">
    <div
      class="row justify-content-center"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="col-xl-5">
        <div class="text-center">
          <img src="../../../assets/images/events/logo.png" alt="Pasc Logo" />
        </div>
      </div>
      <div class="col-xl-5">
        <div class="text-center ">
          <img
            class="pulzionlogo pt-xl-5"
            src="../../../assets/images/events/PULZION 19.png"
            alt="Pasc Logo"
          />
        </div>
      </div>
    </div>
</div>
  </section> -->


  


  <section id="cards mt-5 container">
    <div class="row m-md-5" data-aos="fade-up" data-aos-duration="1000">
      <div class="col-xl-10">
        <div class="blog-slider">
          <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
              <div class="blog-slider__img">
                <img src="../../../assets/images/events/sig.jpg" alt="" />
              </div>
              <div class="blog-slider__content">
                <span class="blog-slider__code">26 December 2019</span>
                <div class="blog-slider__title">SIG's</div>
                <div class="blog-slider__text">
                  PASC contains special interest groups(SIG). A special interest
                  group is a group of people working in the same domain.
                  Seminars and discussions are conducted in SIGs.
                </div>
              </div>
            </div>
          </div>
          <div class="blog-slider__pagination"></div>
        </div>
      </div>
      <div class="d-none d-xl-inline col-lg-2"></div>
    </div>
    <div class="row m-md-5" data-aos="fade-up" data-aos-duration="1000">
      <div class="d-none d-xl-inline col-lg-2"></div>
      <div class="col-xl-10">
        <div class="blog-slider">
          <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
              <div class="blog-slider__img">
                <img src="../../../assets/images/events/workshop.jpg" alt="" />
              </div>
              <div class="blog-slider__content">
                <span class="blog-slider__code">26 December 2019</span>
                <div class="blog-slider__title">Workshops</div>
                <div class="blog-slider__text">
                  Ethical Hacking Workshop was conducted by CYBERCURE Solutions
                  and organised by PASC, prepared the participants to sustain
                  different types of threats. The workshop was blessed by the
                  presence of Mr. Sangeet Chopra, who is among the top 10
                  hackers of India, as our speaker.<span
                    class="d-none d-lg-inline"
                    >A two day workshop on Artificial Intelligence was conducted
                    by PASC by renowned speaker Mr. Vikramank Singh.</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="blog-slider__pagination"></div>
        </div>
      </div>
    </div>
    <div class="row m-md-5" data-aos="fade-up" data-aos-duration="1000">
      <div class="col-xl-10">
        <div class="blog-slider">
          <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
              <div class="blog-slider__img">
                <img src="../../../assets/images/events/cs.jpg" alt="" />
              </div>
              <div class="blog-slider__content">
                <span class="blog-slider__code">26 December 2019</span>
                <div class="blog-slider__title">CS Pathshala</div>
                <div class="blog-slider__text">
                  CSPathshala is an Association for Computing Machinery India
                  (ACM India) initiative, brings a modern computing curriculum
                  to Indian schools. It is a completely volunteer driven
                  initiative. We are proud to be a part of this noble initiative
                  taken up by CSPathshala.
                </div>
              </div>
            </div>
          </div>
          <div class="blog-slider__pagination"></div>
        </div>
      </div>
      <div class="d-none d-xl-inline col-lg-2"></div>
    </div>
    <div class="row m-md-5" data-aos="fade-up" data-aos-duration="1000">
      <div class="d-none d-xl-inline col-lg-2"></div>
      <div class="col-xl-10">
        <div class="blog-slider">
          <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
              <div class="blog-slider__img">
                <img src="../../../assets/images/events/pulzion.jpg" alt="" />
              </div>
              <div class="blog-slider__content">
                <span class="blog-slider__code">26 December 2019</span>
                <div class="blog-slider__title">Hackathons</div>
                <div class="blog-slider__text">
                  One of the first of its kind, this was a full-fledged 24 hour
                  Hackathon in all its essence. The participants were free to
                  use any resources at their disposal and develop anything
                  ranging from a crude prototype to a finished product ready for
                  deployment.
                </div>
              </div>
            </div>
          </div>
          <div class="blog-slider__pagination"></div>
        </div>
      </div>
    </div>
  </section>
