<div class="container">
  <div class="row">
    <div class="col-md-12"><br /><br /></div>

    <div class="justify-content-center">
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <br />
            <h1 class="h2">Reset Password</h1>
            <br />
            <img
              class=""
              src=" {{
                '../../../assets/images/avc/undraw_code_thinking_1jeh.png'
              }}"
              alt="Profile Photo"
              style="width:100%"
            />
            <br />
            <br />
            <h6 class="text-center">
              Please enter your email address to request a password reset.
            </h6>

            <br />

            <div style="align-self: center ;">
              <label for="email"><strong>Email</strong> </label> <br />
              <input
                name="email"
                type="email"
                class="form-control"
                placeholder=""
                style="width: 100%; "
                #passwordResetEmail
                required
              />
            </div>

            <br />
            <span
              class="redirect btn"
              (click)="authService.ForgotPassword(passwordResetEmail.value)"
              ><button>Reset Password</button></span
            >
            <br />
            <a
              ><span class="redirect" routerLink="/login"
                >Go back to Login
              </span></a
            >
          </div>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</div>




