<div class="card mb-3" style="width: 100%;">
    <div class="row no-gutters">
        <div class="col-md-4">
        <img src="../../../assets/images/demo-detail.jpeg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h3 class="card-title">{{blog.heading}}</h3>
            <h5 class="card-title text-muted">{{blog.subHeading}}</h5>
            <p class="card-text text-muted">- {{blog.author}}</p>
            <p class="card-text"><small class="text-muted">{{blog.date | date}}</small></p>

        </div>
        </div>
    </div>
</div>